body{
    background-color:white;
    color:black;
    line-height: 1.7em;
    margin: auto;
    width: 600px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

